.fruit {
  background-color: #003171;
  display: flex;
  justify-content: space-around;
  flex: 1 1 35%;
}

.fruit__content {
  background: white;
  color: #003171;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.fruit__content > div {
  margin: 4px 0;
}

.fruit__img {
  border-radius: 12px;
  width: 200px;
  margin-left: 2rem;
  height: 200px;
}
