.fruit {
  background-color: #003171;
  display: flex;
  justify-content: space-around;
  margin: 4px;
  padding: 2rem;
}

.fruit__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  flex: 1;
  padding: 2rem;
}

.fruit__img {
  border-radius: 10px;
  height: 200px;
  width: 200px;
  margin-left: 0.5rem;
}
